@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name{
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1px;
  color:#787276;
  margin-left: 39vw;
  margin-top: 9vh;
}
.body{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
}
.body img{
  width: 35vw;
  height: 70vh;
  padding-right: 10%;
}
.body h1{
  padding-bottom: 5%;
  font-size: 45px;
}
.body p{
  padding-bottom: 5%;
  width: 45vw;
  line-height: 32px;
  font-size: 25px;
}
.body a{
  color:black
}
.socials{
  display: flex;
  margin-top: 2%;
  margin-left: 39vw;
}
.socials img{
  width: 40px;
  height: 40px;
}
.footer{
  display: flex;
}
.credit{
  margin-top: 3%;
  margin-left: 2%;
  color:#787276;
}
.credit a{
  color:#787276;
}
