@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name{
  font-family: "Tenor Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1px;
  color:#787276;
  margin-left: 39vw;
  margin-top: 9vh;
}
.body{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
}
.body img{
  width: 35vw;
  height: 70vh;
  padding-right: 10%;
}
.body h1{
  padding-bottom: 5%;
  font-size: 45px;
}
.body p{
  padding-bottom: 5%;
  width: 45vw;
  line-height: 32px;
  font-size: 25px;
}
.body a{
  color:black
}
.socials{
  display: flex;
  margin-top: 2%;
  margin-left: 39vw;
}
.socials img{
  width: 40px;
  height: 40px;
}
.footer{
  display: flex;
}
.credit{
  margin-top: 3%;
  margin-left: 2%;
  color:#787276;
}
.credit a{
  color:#787276;
}

@media only screen and (max-width: 768px) {
  .body{
    display: block;
    padding: 0;
  }
  .body img{
    width: 100vw;
    height: 400px;
    margin-left: 5%;
    margin-top: 5%;
  }
  .body h1{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 30px;
  }
  .body p{
    padding-bottom: 5%;
    width: 85vw;
    line-height: 32px;
    font-size: 17px;
    margin-left: 5%;
  }
  .socials{
    margin-top: 2%;
    margin-left: 9vw;
  }
  .socials img{
    width: 27px;
    height: 27px;
  }
  .credit{
    font-size: 10px;
  }
}